h1 {
    font-size: xx-large;
    color: wheat;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: black;
}
h4 {
    text-align: center;
    color: azure;
    background-color: orange;
    font-size: x-large;

}
header{
    background-color:darkslategray ;
    height: 5cm;
    border: 2em;
    border-color: black;
    border-radius: 1em;
    padding: 1em
}
footer {
    background-color: orange;
    display: flex;
    height: 4cm;
    border: 2em;
    border-color: black;
    border-radius: 1em;
    padding: 1em
}
h2 {
    text-align: left;
    display: list-item;
    font-size: small;
    font-size: larger;
}

h3 {
    text-align: right;
    display: list-item;
    font-size: small;
    padding-left: 50px;
    font-size: larger;
}

.pizzas {
    align-items: center;

}

@media (min-width:780px){
    .pizzas {
    display:flex
          }
    }

.pizza1 {
    background-color: darkgoldenrod;
    width: 4cm;
    margin: 10px;
    padding: 4cm;
    border-radius: 10px;
    border-image-width: 4cm;

}
.pizza2 {
    background-color: darkslategray;
    width: 4cm;
    margin: 10px;
    padding: 4cm;
    border-radius: 10px;
    
    
}
.pizza3 {
    background-color: antiquewhite;
    width: 4cm;
    margin: 10px;
    padding: 4cm;
    border-radius: 10px;
   
}
.pizza4 {
    background-color: brown;
    width: 4cm;
    margin: 10px;
    padding: 4cm;
    border-radius: 10px;
}


.contacts {
padding-left: 40cm;
}
img{
height: 5cm;
width: 5cm;
}

